.eventdate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    color: rgb(20, 56, 56);
}

.eventdate>input {
    border-radius: 5px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    justify-content: center;
    margin-top: 5%;
}